<!DOCTYPE HTML>
<html>
	<head>
		<title>v-if If Statements</title>
		<meta charset="UTF-8">
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<style>
			#app{
				max-width: 500px;
				margin: 0 auto;
			}

			/*	CSS FROM W3school with the link provided	*/
			.card {
				display: flex;
				flex-direction: column;
				align-items: center;
				background-color: rgb(245, 227, 255);
				padding-top: 20px;
				padding-bottom: 20px;
				box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
				transition: 0.3s;
				border-radius: 10px; /* 5px rounded corners */
			}
		</style>
	</head>
	<body>
	<!--using shorthand code-->
	<div id="app">
		<!--if there is profile with all the info show this profile card-->
		<span v-if="profile">
			<div class="card">
				<!--profile picture-->
				<div>
					<img :src="profile.pic" :alt="profile.alt" style="width:200px">
				</div>
				<!--profile info-->
				<div class="container">
					<h4>
						<b>
							<span>{{ profile.fname }}</span>
							<span>{{ profile.lname }}</span>
						</b>
					</h4>
					<!--example to show is desc is not available-->
				  	<p><span v-if="profile.desc">{{ profile.desc }}</span></p>
					<p><span v-else>NO DESCRIPTION AVAILABLE</span></p><!--not showing up i dont know why!?-->
					<p><span>{{ profile.bio }}</span></p>
				</div>
			</div>
		</span>
		<!--else if there is unknow with all the info show this profile card-->
		<span v-else-if="unknown">
			<div class="card">
				<div>
					<!--else-if -->
					<div>
						<img :src="unknown.pic" :alt="unknown.alt" style="width:200px">
					</div>
				</div>
				<div class="container">
					<h4>
						<b>
							<span>{{ unknown.fname }}</span>
							<span>{{ unknown.lname }}</span>
						</b>
					</h4>
					<p><span>{{ unknown.desc }}</span></p>
					<p><span>{{ unknown.bio }}</span></p>
				</div>
			</div>
		</span>
		<!--if no info display this message-->
		<span v-else>
			No Profile Data found.
		</span>
	</div>
	
	<script>
	var app = new Vue({
		el: '#app',
		data:{
			profile:{
				fname: "Wafa",
				lname: "Mustafa",
				desc: "Humber Student",
				bio: "Painting the web with beautiful CSS",
				pic: "./images/wafa.png",
				alt: "Picture of Wafa M"

			},
			unknown:{
				fname: "John",
				lname: "Doe",
				desc: "Questionable man",
				bio: "never to be seen",
				pic: "./images/unknown.png",
				alt: "Missing image"

			}
		}
		
	});
	</script>
	
		<!--
		//step 1: Read Code Above
		//step 2: Does the profile show up?
		
		v-if="boolean_expression"
		v-else-if="boolean_expression"
		v-else
		
		
		You can code an if, else if, else statement into your render using the v-if, v-else-if, v-else.
		Just like in regular programming, v-else has no condition
		
		Notice how the "profile" object is null. Reminder that null is Falsey in the boolean context.
		
		ASYNCHRONOUS LEARNING EXERCISE
		1. Use the profile object to store information about yourself {fname, lname, desc, bio, pic}
		2. Create a figure, figcaption, and image markup which acts as a description for yourself
			(Something like this https://www.w3schools.com/howto/howto_css_cards.asp)
		3. Write conditionals if information is missing (i.e. 'no bio available' if bio is blank, generic image if no pic is found)
		-->
	</body>
</html>